.modal-header {
    padding: 2px 10px;
    background-color: #253c89;
    border-radius: 0;
    color: white;
}

.titulo {
    display: flex;
    align-items: center;
}

.titulo h4 {
    font-weight: normal;
    margin-left: 10px;
}

::ng-deep .modal-content {
    border-radius: 0;
}