.modal-header {
    padding: 2px 10px;
    border-radius: 0;
}

.modal-header button {
    background-color: inherit;
    color: inherit;
    border: none;
}

.titulo {
    display: flex;
    align-items: center;
}

.titulo h4 {
    font-weight: normal;
    margin-left: 10px;
}

::ng-deep .modal-content {
    border-radius: 0;
}