main {
    margin: 50px;
}
.parte-superior {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.titulo {
    display: flex;
    align-items: center;
    color: #253c89

}

.botao-adicionar-dicionario {
    color: #253c89;
    cursor: pointer;
}

.titulo--nome {
    font-size: 24px;
    margin: 0 10px 0 0;
}

.lista-dicionarios {
    padding: 0;
}

.dicionario {
    padding: 5px;
    display: flex;
    list-style: none;
    margin: 0;
    border-bottom: 1px solid #CCC;
}

.dicionario:nth-child(even) {
    background-color: #EFEFEF;
}

.dicionario-nome {
    flex-grow: 1;
    cursor: pointer;
}

.dicionario-acao {
    margin-left: 30px;
    color: #253c89;
    cursor: pointer;
    font-style: none;
    text-decoration: none;
}

.modal-custom {
    border: 0;
    border-radius: 0;
}