<div class="container dictionary-div">
  <div class="dicionary-header-color" [style.backgroundColor]="dicionario.corIcone" ></div>

  <!-- ] corTitulo: '#2233CC',
  corBotao: '#CCCCCC',
  corBotaoFonte: '#000000',
  corIcone: '#000000', -->

  
  <div class="dicionary-header">
    <div class="dicionary-header-title">
      <h5 [style.color]="dicionario.corTitulo">{{dicionario.nome}}</h5>
    </div>
    <div class="dicionary-header-item">
      <div>
        <fa-icon [style.color]="dicionario.corIcone" [icon]="iconeConfig" size="lg"></fa-icon>
      </div>
    </div>
    <div class="dicionary-header-item">
      <div [style.color]="dicionario.corTitulo">abc</div>
    </div>
  </div>

  <div class="menu-dicionario">
    <a  *ngFor="let letra of letrasNoDicionario" (click)="filtrarPorLetra(letra)" [ngClass]="{'active' : letraEstaSelecionada(letra)}"> {{letra}} </a>

    <a (click)="desfazerFiltro()" [ngClass]="{'active' : letraEstaSelecionada('Todos')}">Todos</a>


  </div>

  <div class="dicionary">
    <table>
        <tr *ngFor="let palavra of palavras" class="dicionario">
    
        <div class="dicionary-body">
          <div class="table-data">
            <td class="table-item-title"><span  [style.color]="dicionario.corTitulo" >{{palavra.texto}}</span></td>
            <td class="table-item-see-more">
              <a
              [style.color]="dicionario.corTitulo"
                (click)="abrirModalDefinicaoExtra(templateDetalhesDicionario, palavra)"
                >Ver mais</a
              >
            </td>
          </div>
          <div>
            <td class="table-item-description">
                {{palavra.definicao}}
            </td>
          </div>
        </div>
      </tr>

      
       
     
    </table>
  </div>
</div>

<ng-template #templateDetalhesDicionario class="modal-lg">
  <div class="modal-header">
    <fa-icon [style.color]="dicionario.corIcone" 
      class="pull-left"
      aria-hidden="true"
      [icon]="iconeDocumento"
      size="lg"
    ></fa-icon>
    <h4 [style.color]="dicionario.corTitulo" >{{ palavraModal.texto}}</h4>
    <fa-icon [style.color]="dicionario.corIcone" 
      class="pull-right"
      aria-hidden="true"
      [icon]="iconeFechar"
      (click)="modalRef?.hide()"
      size="lg"
    ></fa-icon>
  </div>
  <div  class="modal-body">
    {{ palavraModal.definicao_extra}}
  </div>
  <div class="col-md-12 text-center modal-detalhes-dicionario-botao">
    <button [style.backgroundColor]="dicionario.corBotao" [style.color]="dicionario.corBotaoFonte" class="btn modal-detalhes-dicionario btn-small " (click)="modalRef?.hide()">Fechar
    </button>
</div>
 
</ng-template>
