<div class="container dictionary-div">
  <div class="dicionary-header-color"></div>

  <div class="dicionary-header">
    <div class="dicionary-header-title">
      <h5 class="item-destaque" >Dicionário Join HR</h5>
    </div>
    <div class="dicionary-header-item">
      <div><fa-icon class="item-destaque" [icon]="iconeConfig" size="lg"></fa-icon></div>
    </div>
    <div class="dicionary-header-item">
      <div class="item-destaque">abc</div>
    </div>
  </div>

  <div class="menu-dicionario">

    <a  href="#home">A</a>
    <a href="#news">B</a>
    <a href="#contact">C</a>
    <a href="#contact">D</a>
    <a href="#contact">E</a>
    <a href="#contact">F</a>
    <a href="#contact">G</a>
    <a href="#contact">H</a>
    <a href="#contact">I</a>
    <a href="#contact">J</a>
    <a href="#contact">K</a>
    <a href="#contact">L</a>
    <a href="#contact">M</a>
    <a href="#contact">N</a>
    <a href="#contact">N</a>
    <a href="#contact">O</a>
    <a href="#contact">P</a>
    <a href="#contact">Q</a>
    <a href="#contact">R</a>
    <a href="#contact">S</a>
    <a href="#contact">T</a>
    <a href="#contact">U</a>
    <a href="#contact">V</a>
    <a href="#contact">W</a>
    <a href="#contact">X</a>
    <a href="#contact">Y</a>
    <a href="#contact">Z</a>
   
    <a class="active" href="#about">Todos</a>
  </div>

  <div class="dicionary">
    <table>
      <tr>
        <div class="dicionary-body">
          <div class="table-data">
            <td class="table-item-title"><span>What is Lorem Ipsum?</span></td>
            <td class="table-item-see-more"><a class="item-destaque" href="">Ver mais</a></td>
          </div>
          <div>
            <td class="table-item-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </td>
          </div>
        </div>
      </tr>

      <tr>
        <div class="dicionary-body">
          <div class="table-data">
            <td class="table-item-title"><span>What is Lorem Ipsum?</span></td>
            <td class="table-item-see-more"><a class="item-destaque" href="">Ver mais</a></td>
          </div>
          <div>
            <td class="table-item-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </td>
          </div>
        </div>
      </tr>

      <tr>
        <div class="dicionary-body">
          <div class="table-data">
            <td class="table-item-title"><span>What is Lorem Ipsum?</span></td>
            <td class="table-item-see-more"><a class="item-destaque" href="">Ver mais</a></td>
          </div>
          <div>
            <td class="table-item-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </td>
          </div>
        </div>
      </tr>

      <tr>
        <div class="dicionary-body">
          <div class="table-data">
            <td class="table-item-title"><span>What is Lorem Ipsum?</span></td>
            <td class="table-item-see-more"><a class="item-destaque" href="">Ver mais</a></td>
          </div>
          <div>
            <td class="table-item-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was
              popularised in the 1960s with the release of Letraset sheets
              containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of
              Lorem Ipsum.
            </td>
          </div>
        </div>
      </tr>
    </table>
  </div>
</div>
