<header [ngStyle]="{'background-color': dicionario?.corTitulo ?? ''}"></header>
<main>
  <section class="secao-titulo">
    <h3 [ngStyle]="{'color' : dicionario?.corTitulo }">{{dicionario?.nome ?? ''}}</h3>
    <div class="links-titulo">
      <a [ngStyle]="{'color' : dicionario?.corTitulo ?? '' }" routerLink="palavras">abc</a>
      <a (click)="abrirModalDicionario()"><fa-icon [ngStyle]="{'color' : dicionario?.corTitulo ?? '' }" [icon]="iconeConfig" size="lg"></fa-icon></a>
    </div>
  </section>

  <app-paginador  *ngIf="paginadorNecessario(); else espacador"
    [iniciarSemFiltro]="false"
    [palavras]="palavras"
    (aoMudar)="filtrarPorLetra($event)"
  ></app-paginador>

  <ng-template #espacador><div class="espacador"></div></ng-template> 



  <div class="lista-palavras">
    <dl>
      <div *ngFor="let palavra of palavrasExibir" class="lista-palavras-item">
        <a 
          *ngIf="palavra.definicaoExtra"
          [ngStyle]="{'color' : dicionario.corTitulo }" 
          (click)="abrirModalDefinicaoExtra(templateDefinicaoExtra, palavra)"
        >
          Ver mais
        </a>
        <dt [ngStyle]="{'color' : dicionario.corTitulo }">
          {{palavra.texto}}
        </dt>
        <dd>
          {{palavra.definicao}}
        </dd>
      </div>
    </dl>
  </div>
</main>

<!-- MODAL Dicionário -->

<ng-template #templateDicionario>
  <app-modal-padrao
      [iconeTitulo]="iconeEditar"
      [titulo]="'Dicionário'"
      (aoFechar)="modalRef?.hide()"
  >
      <app-dicionario-form
          [dicionarioEditar]="dicionario"
          (aoSubmeter)="aoSubmeter($event)"
      > 
      </app-dicionario-form>
  </app-modal-padrao>
</ng-template>

<!-- MODAL Definição Extra -->

<ng-template #templateDefinicaoExtra>
  <app-modal-padrao
      [iconeTitulo]="iconeDocumento"
      [titulo]="palavraModal.texto"
      [corFonte]="dicionario.corBotaoFonte"
      [corDestaque]="dicionario.corBotao"
      (aoFechar)="modalRef?.hide()"
  >
    <div class="modal-body" [innerHTML]="palavraModal.definicaoExtra"></div>
    <div class="d-flex justify-content-center">
      <app-botao-padrao
        [corBotao]="dicionario.corBotao"
        [corFonteBotao]="dicionario.corBotaoFonte"
        (click)="modalRef?.hide()"
      >
        Fechar
      </app-botao-padrao>
    </div>
  </app-modal-padrao>
</ng-template>

<!-- <ng-template #templateDefinicaoExtra class="modal-lg">
  <div class="modal-header" [style.backgroundColor]="dicionario.corBotao">
    <fa-icon [style.color]="dicionario.corBotaoFonte" class="pull-left" aria-hidden="true" [icon]="iconeDocumento"
      size="lg"></fa-icon>
    <h4 [style.color]="dicionario.corBotaoFonte">{{ palavraModal.texto}}</h4>
    <fa-icon [style.color]="dicionario.corBotaoFonte" class="pull-right" aria-hidden="true" [icon]="iconeFechar"
      (click)="modalRef?.hide()" size="lg"></fa-icon>
  </div>
  <div class="modal-body" [innerHTML]="palavraModal.definicaoExtra">
  </div>
  <div class="col-md-12 text-center modal-detalhes-dicionario-botao">
    <button [style.backgroundColor]="dicionario.corBotao" [style.color]="dicionario.corBotaoFonte"
      class="btn modal-detalhes-dicionario btn-small " (click)="modalRef?.hide()">Fechar
    </button>
  </div>
</ng-template> -->