header {
  height: 100px;
}

main {
  margin: 20px 50px 0;
  min-width: 680px
}

.secao-titulo {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #ebebeb;
}

.links-titulo {
  display: flex;
  align-items: center;
}

.links-titulo a {
  text-decoration: none;
  margin-left: 30px;
  cursor: pointer;
}

.lista-palavras-item {
  padding: 0.5em;
  border-bottom: solid 2px #CCC;
}

.lista-palavras-item:nth-child(even) {
  background-color: #ebebeb;
}

.lista-palavras-item a {
  float: right;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
  font-size: 17px;
}

.lista-palavras-item dt {
  margin-bottom: 1em;
  font-size: 1.2rem;
}

.modal-detalhes-dicionario{  
  color: white;
}

#templateDetalhesDicionario modal-title{
  text-align: left;
}

.modal-detalhes-dicionario-botao{
  padding: 20px;
}

.modal-body {
  max-height:800px; 
  overflow-y: auto;
}

.modalDialog {
  /*Insira o código debaixo de tudo*/
  overflow: scroll;
}

