<main>
    <div class="parte-superior">
        <section>
            <h1 class="titulo--nome">{{dicionario.nome}}</h1>
            <button 
                class="btn botao-adicionar-palavra"
                (click)="abrePalavraForm(template)"
            >
                <fa-icon class="icone-adicionar-palavra" [icon]="iconeAdicionar" size="lg"></fa-icon> Palavra
            </button>
        </section>
        <section>
            <fa-icon [style.color]= "'#73b453'" [icon]="iconeAjuda" size="lg"></fa-icon>
            <span [style.color]= "'#73b453'"> Ajuda</span>
        </section>
    </div>

    <ul class="lista-palavras">
        <li *ngFor="let palavra of palavras" class="palavra">
            <span class="palavra-nome">{{palavra.texto}}</span>
            <fa-icon class="palavra-acao" [icon]="iconeEditar" size="lg" (click)="editaPalavra(palavra)"></fa-icon>
            <fa-icon class="palavra-acao" [icon]="iconeExcluir" size="lg"
                (click)="excluiPalavra(palavra.id!)"></fa-icon>
        </li>
    </ul>
</main>

<ng-template #template>

    <div class="modal-header">
        <fa-icon [icon]="iconeEditar" size="lg"></fa-icon>
        <h4 class="modal-title">Editar palavra</h4>
        <fa-icon
          class="pull-right"
          aria-hidden="true"
          [icon]="iconeExcluir"
          (click)="modalRef?.hide()"
          size="lg"
        ></fa-icon>
      </div>

    <app-dicionario-texto-cadastro
      [palavraEditar]="palavraSelecionada"
      (aoAdicionar)="adicionaPalavra($event)"
      (aoAtualizar)="atualizaPalavra($event)"
    ></app-dicionario-texto-cadastro>
</ng-template>
