<main>
    <div class="parte-superior">
        <section class="titulo">
            <h1 class="titulo--nome">{{dicionario.nome}}</h1>
            <fa-icon class="botao-adicionar-palavra" [icon]="iconeAdicionar" size="lg"
                (click)="abrePalavraForm(template)"></fa-icon>
        </section>
        <section>
            <fa-icon [style.color]= "'#73b453'" [icon]="iconeAjuda" size="lg"></fa-icon>
            <span [style.color]= "'#73b453'"> Ajuda</span>
            
        </section>
    </div>

    <ul class="lista-palavras">
        <li *ngFor="let palavra of dicionario.palavras" class="palavra">
            <span class="palavra-nome">{{palavra.texto}}</span>
            <fa-icon class="palavra-acao" [icon]="iconeLupa" [routerLink]="['/palavras/', palavra.codigo]"
                size="lg"></fa-icon>
            <a class="palavra-acao" routerLink="/palavra/{{palavra.codigo}}/palavras">abc</a>
            <!-- <fa-icon class="palavra-acao" [icon]="iconeEngrenagem" size="lg" (click)="editaDicionario(template, palavra)"></fa-icon> -->
            <!-- <fa-icon class="palavra-acao" [icon]="iconeExcluir" size="lg"
                (click)="excluiDicionario(palavra.codigo)"></fa-icon> -->
        </li>
    </ul>
    <fa-icon [style.color]= "'#253c89'"  class="botao-adicionar-palavra" [icon]="iconeAdicionar" size="lg" (click)="abrePalavraForm(template)">
    </fa-icon>
</main>

<ng-template #template>
    <app-dicionario-texto-cadastro></app-dicionario-texto-cadastro>
</ng-template>
