<div class="modal-body">
  <form class="form" [formGroup]="palavraForm" (ngSubmit)="onSubmit()">
    <div class="item-formulario">
      <label class="form-label" for="palavra">Palavra</label>
      <input
        class="form-control"
        type="text"
        formControlName="texto"
        name="texto"
      />
    </div>
    <small
      *ngIf="submitted && palavraForm.get('texto')?.errors?.['required']"
      class="text-danger d-block mt-2"
      >Campo Obrigatório
    </small>

    <div class="item-formulario">
      <label class="form-label" for="definicao">Definição</label>
      <input
        class="form-control"
        type="text"
        formControlName="definicao"
        name="definicao"
      />
    </div>
    <small
      *ngIf="submitted && palavraForm.get('definicao')?.errors?.['required']"
      class="text-danger d-block mt-2"
      >Campo Obrigatório
    </small>

    <div class="item-formulario">
      <label class="form-label" for="definicao-extra">Definição extra</label>
      <editor
        formControlName="definicaoExtra"
        name="definicao-extra"
        [init]="{
          height: 300,
          menubar: false,
          plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
          ],
          toolbar:
            'undo redo | formatselect | bold italic backcolor | \
                alignleft aligncenter alignright alignjustify | \
                bullist numlist outdent indent | removeformat | help'
        }"
      ></editor>
    </div>
    <div class="d-flex justify-content-center mt-2">
      <app-botao-padrao (submit)="onSubmit()">Salvar</app-botao-padrao>
    </div>
  </form>
</div>
