.menu-dicionario{
    margin: 20px auto;
    width: fit-content;
    padding: 5px 10px;
    background-image: linear-gradient(rgb(252, 252, 252), rgb(131, 183, 224));
    border-radius: 5px;
    border: 1px solid rgb(93, 173, 226);
    background-color: rgb(35, 198, 226);
    color: rgb(0, 113, 199);
  }
  
  .menu-dicionario a{
    padding: 5px 5px;
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 113, 199);
  }
  
  .menu-dicionario .active{
    font-weight:600;
  }

  .menu-dicionario a.inativo{
    cursor:default;
    color: rgb(115, 160, 194);
  }